@model EquipmentManager.Models.Order

<div class="row">
    <div class="col-12" style="padding-top: 60px;">
        <div class="card">
            <form method="post" action="">
            <div class="widget-header card-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4 class="text-center"> THÔNG TIN ĐƠN HÀNG</h4>

                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area" style="padding-top: 50px;padding-bottom: 33px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 40px;">
                            <div class="row">
                                <div class="col-md-3"><b>Tên khách hàng:</b></div>
                                <div class="col-md-8">@Model.Name</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>Số điện thoại:</b></div>
                                <div class="col-md-8">@Model.Phone</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>Địa chỉ:</b></div>
                                <div class="col-md-8">@Model.Address</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4> Sửa trạng thái đơn hàng</h4>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <fieldset class="form-group mb-4">
                                    <div class="row">
                                        <label class="col-3" style="margin-top: 10px;">
                                            Trạng
                                            Thái
                                        </label>

                                        <div class="col-8">
                                            @if (Model.Status == 2)
                                            {
                                                <select class="form-control  basic" asp-for="Status">
                                                    <option :selected="orders.status === 2" value="2" disabled>Chưa xác nhận</option>
                                                    <option :selected="orders.status === 1" value="1">Đã xác nhận</option>
                                                    <option :selected="orders.status === 3" value="3">Đang giao</option>
                                                    <option :selected="orders.status === 4" value="4">Giao hàng thành công</option>
                                                    <option :selected="orders.status === 5" value="5">
                                                        Hủy
                                                    </option>
                                                </select>
                                            }
                                            else if (Model.Status == 1)
                                            {
                                                <select class="form-control  basic" asp-for="Status">
                                                    <option :selected="orders.status === 2" value="2" disabled>Chưa xác nhận</option>
                                                    <option :selected="orders.status === 1" value="1" disabled>Đã xác nhận</option>
                                                    <option :selected="orders.status === 3" value="3">Đang giao</option>
                                                    <option :selected="orders.status === 4" value="4">Giao hàng thành công</option>
                                                    <option :selected="orders.status === 5" value="5" disabled>
                                                        Hủy
                                                    </option>
                                                </select>
                                            }
                                            else if (Model.Status == 3)
                                            {
                                                <select class="form-control  basic" asp-for="Status">
                                                    <option :selected="orders.status === 2" value="2" disabled>Chưa xác nhận</option>
                                                    <option :selected="orders.status === 1" value="1" disabled>Đã xác nhận</option>
                                                    <option :selected="orders.status === 3" value="3" disabled>Đang giao</option>
                                                    <option :selected="orders.status === 4" value="4">Giao hàng thành công</option>
                                                    <option :selected="orders.status === 5" value="5" disabled>
                                                        Hủy
                                                    </option>
                                                </select>
                                            }

                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group row" style="margin-top: -12px;">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary mt-3">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>

             
                    <input type="hidden" asp-for="@Model.Id">
                    <input type="hidden" asp-for="@Model.Name">
                    <input type="hidden" asp-for="@Model.Email">
                    <input type="hidden" asp-for="@Model.Phone">
                    <input type="hidden" asp-for="@Model.Address">
                    <input type="hidden" asp-for="@Model.Note">
                    <input type="hidden" asp-for="@Model.AccountId">
                    <input type="hidden" asp-for="@Model.TotalQuantity">
                    <input type="hidden" asp-for="@Model.TotalPrice">
                    <input type="hidden" asp-for="@Model.CreatedDate">


                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <div class="card-body table-responsive" style="height: 553px;">
                            <table class="table table-head-fixed text-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Mã sản phẩm
                                        </th>
                                        <th>
                                            Tên hàng
                                        </th>
                                        <th>
                                            Số lượng
                                        </th>
                                        <th>
                                            Giá
                                        </th>
                                        <th>
                                            Thành tiền
                                        </th>
                                        <th>
                                            Ghi chú
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in ViewBag.orderDetail)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>
                                                @i
                                            </td>

                                            <td>
                                                @item.Product.Code
                                            </td>
                                            <td>
                                                @item.Product.Name
                                            </td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @string.Format("{0:0,00}", @item.Price)vnđ
                                            </td>
                                            <td>
                                                @string.Format("{0:0,00}", @item.Price*item.Quantity)vnđ
                                            </td>
                                            <td>
                                                @Model.Note
                                            </td>

                                        </tr>

                                    }
                                    <tr>
                                        <td colspan="7"> <b>Tổng tiền:</b> @Model.TotalPrice</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

               
            </div>
            </form>
        </div>
    </div>
</div>
